@media screen and (max-width: 480px){
    *{
      padding: 0px;
      margin: 0px;
    }
  
    body{
      background-image: url('../img/patron-pavos.jpg');
    }
  }

  @media screen and (max-width: 768px){
    *{
      padding: 0px;
      margin: 0px;
    }
  
    body{
      background-image: url('../img/patron-pavos.jpg');
    }
  }
  
  @media screen and (max-width: 960px){
    *{
      padding: 0px;
      margin: 0px;
    }
  
    body{
      background-image: url('../img/patron-pavos.jpg');
    }
  }
  
  @media screen and (max-width: 1024px){
    *{
      padding: 0px;
      margin: 0px;
    }
  
    body{
      background-image: url('../img/patron-pavos.jpg');
    }
  }  
  
  @media screen and (max-width: 1328px){
     *{
      padding: 0px;
      margin: 0px;
    }
  
    body{
      background-image: url('../img/patron-pavos.jpg');
      min-height: 100vh;
    }
  }