@media screen and (min-width: 480px) {
  * {
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  * {
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (min-width: 960px) {
  * {
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (min-width: 1024px) {
  * {
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (min-width: 1328px) {
  * {
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (min-width: 480px) {
  .menu-opciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 10px;
    list-style: none;
    margin-top: 20px;
    margin-right: 30px;
  }
  .menu-opciones .button {
    font-size: 20px;
    font-weight: bolder;
    color: bisque !important;
  }
  .menu-opciones :hover {
    color: lightcoral;
  }
}

@media screen and (min-width: 768px) {
  .menu-opciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 10px;
    list-style: none;
    margin-top: 20px;
    margin-right: 30px;
  }
  .menu-opciones .button {
    font-size: 20px;
    font-weight: bolder;
    color: bisque !important;
  }
  .menu-opciones :hover {
    color: lightcoral;
  }
}

@media screen and (min-width: 960px) {
  .menu-opciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 10px;
    list-style: none;
    margin-top: 20px;
    margin-right: 30px;
  }
  .menu-opciones .button {
    font-size: 20px;
    font-weight: bolder;
    color: bisque !important;
  }
  .menu-opciones :hover {
    color: aliceblue;
  }
}

@media screen and (min-width: 1328px) {
  .menu-opciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 10px;
    list-style: none;
    margin-top: 20px;
    margin-right: 30px;
  }
  .menu-opciones .button {
    font-size: 20px;
    font-weight: bolder;
    color: bisque !important;
  }
  .menu-opciones :hover {
    color: lightcoral;
  }
}

@media screen and (min-width: 480px) {
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .carrusel {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: carrusel;
  }
  .article-home {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: article-home;
  }
  .fotos-comida-izquierda {
    grid-area: fotos-comida-izquierda;
  }
  .fotos-comida-derecha {
    grid-area: fotos-comida-derecha;
  }
  .videos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: videos;
  }
  .info-izquierda {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: info-izquierda;
  }
  .texto-izquierdo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: texto-izquierdo;
  }
  .info-derecha {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: info-derecha;
  }
  .texto-derecho {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: texto-derecho;
  }
  .title-shop {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: title-shop;
  }
  .enlaces {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: enlaces;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "carrusel" "article-home" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "videos" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "info-izquierda" "texto-izquierdo" "info-derecha" "texto-derecho" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "carrusel" "article-home" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "title-shop" "enlaces" "footer";
  }
  .carrusel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carrusel ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 500px;
    scroll-behavior: smooth;
  }
  .carrusel-fotos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    overflow: auto;
  }
  .carrusel-fotos img {
    background: #212121;
    border: 4px #212121;
    width: 40px;
    height: 60px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .carrusel-menu {
    display: block;
  }
  .carrusel-menu img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 45px;
    height: 35px;
    border: 8px #212121;
  }
  .carrusel-menu {
    padding-top: 16px !important;
  }
  .carrusel-menu img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  p {
    text-align: center;
  }
  .article-home {
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    height: 75%;
  }
  footer {
    height: 500px;
    margin-top: 163px;
    background-image: url(/img/foot-index2.jpg);
  }
  .fecha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 45px;
    font-size: 20px;
    color: white;
  }
  .fotos-comida-izquierda img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 175px;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .fotos-comida-derecha img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 175px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .parrafo1, .parrafo2, .parrafo3, .parrafo4 {
    color: bisque;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .info-izquierda img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    height: 175px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .info-derecha img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 120px;
    height: 175px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .texto-izquierdo, .texto-derecho {
    color: bisque;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .title-shop {
    margin-top: 30px !important;
  }
  h3 {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    margin-top: 56px;
    background-color: #1b1a1a;
  }
  .bi.bi-cart3 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    width: 60;
    height: 60;
    color: bisque;
    background-color: lightcoral;
  }
  section div a {
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    color: bisque;
    background-color: lightcoral;
  }
  p.text-shop {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    color: lightcoral;
    background-color: bisque;
  }
}

@media screen and (min-width: 768px) {
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .carrusel {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: carrusel;
  }
  .article-home {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: article-home;
  }
  .fotos-comida-izquierda {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: fotos-comida-izquierda;
  }
  .fotos-comida-derecha {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: fotos-comida-derecha;
  }
  .videos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: videos;
  }
  .info-izquierda {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: info-izquierda;
  }
  .texto-izquierdo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: texto-izquierdo;
  }
  .info-derecha {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: info-derecha;
  }
  .texto-derecho {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: texto-derecho;
  }
  .title-shop {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: title-shop;
  }
  .enlaces {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: enlaces;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "carrusel" "article-home" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "fotos-comida-izquierda" "fotos-comida-derecha" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "videos" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "info-izquierda" "texto-izquierdo" "info-derecha" "texto-derecho" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "title-shop" "enlaces" "footer";
  }
  .carrusel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carrusel ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 690px;
    scroll-behavior: smooth;
  }
  .carrusel-fotos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    overflow: auto;
  }
  .carrusel-fotos img {
    background: #212121;
    border: 4px #212121;
    width: 400px;
    height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .carrusel-menu {
    display: block;
  }
  .carrusel-menu img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 45px;
    height: 35px;
    border: 8px #212121;
  }
  .carrusel-menu {
    padding-top: 16px !important;
  }
  .carrusel-menu img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  p {
    text-align: center;
  }
  .article-home {
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }
  footer {
    height: 500px;
    margin-top: 163px;
    background-image: url(/img/foot-index2.jpg);
  }
  .fecha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 45px;
    font-size: 25px;
    color: white;
  }
  .fotos-comida-izquierda img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 185px;
    height: 130px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .fotos-comida-derecha img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 185px;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .parrafo1, .parrafo2, .parrafo3, .parrafo4 {
    color: bisque;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .info-izquierda img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 130px;
    height: 185px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .info-derecha img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 130px;
    height: 185px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .texto-izquierdo, .texto-derecho {
    color: bisque;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 960px) {
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .carrusel {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: carrusel;
  }
  .article-home {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: article-home;
  }
  .fotos-comida-izquierda {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: fotos-comida-izquierda;
  }
  .fotos-comida-derecha {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: fotos-comida-derecha;
  }
  .videos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: videos;
  }
  .info-izquierda {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: info-izquierda;
  }
  .texto-izquierdo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: texto-izquierdo;
  }
  .info-derecha {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: info-derecha;
  }
  .texto-derecho {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: texto-derecho;
  }
  .title-shop {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: title-shop;
  }
  .enlaces {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: enlaces;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "carrusel" "article-home" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "fotos-comida-izquierda" "fotos-comida-derecha" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "videos" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "info-izquierda" "texto-izquierdo" "info-derecha" "texto-derecho" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "title-shop" "enlaces" "footer";
  }
  .carrusel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carrusel ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 955px;
    scroll-behavior: smooth;
  }
  .carrusel-fotos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    overflow: auto;
  }
  .carrusel-fotos img {
    background: #212121;
    border: 4px #212121;
    width: 400px;
    height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .carrusel-menu {
    display: block;
  }
  .carrusel-menu img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 45px;
    height: 35px;
    border: 8px #212121;
  }
  .carrusel-menu {
    padding-top: 16px !important;
  }
  .carrusel-menu img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  p {
    text-align: center;
  }
  .article-home {
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }
  footer {
    height: 500px;
    margin-top: 163px;
    background-image: url(/img/foot-index2.jpg);
  }
  .fecha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    font-size: 20px;
    color: white;
  }
  .fotos-comida-izquierda img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 195px;
    height: 140px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .fotos-comida-derecha img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 195px;
    height: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .parrafo1, .parrafo2, .parrafo3, .parrafo4 {
    color: bisque;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .info-izquierda img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 140px;
    height: 195px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .info-derecha img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 140px;
    height: 195px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .texto-izquierdo, .texto-derecho {
    color: bisque;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 24px;
  }
  .bi.bi-cart3 {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  section div a {
    font-size: 20px;
  }
  p.text-shop {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .carrusel {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: carrusel;
  }
  .article-home {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: article-home;
  }
  .fotos-comida-izquierda {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: fotos-comida-izquierda;
  }
  .fotos-comida-derecha {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: fotos-comida-derecha;
  }
  .videos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: videos;
  }
  .info-izquierda {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: info-izquierda;
  }
  .texto-izquierdo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: texto-izquierdo;
  }
  .info-derecha {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: info-derecha;
  }
  .texto-derecho {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: texto-derecho;
  }
  .title-shop {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: title-shop;
  }
  .enlaces {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: enlaces;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "carrusel" "article-home" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "fotos-comida-izquierda" "fotos-comida-derecha" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "videos" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "info-izquierda" "texto-izquierdo" "info-derecha" "texto-derecho" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "title-shop" "enlaces" "footer";
  }
  .carrusel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carrusel ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 990px;
    scroll-behavior: smooth;
  }
  .carrusel-fotos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    overflow: auto;
  }
  .carrusel-fotos img {
    background: #212121;
    border: 4px #212121;
    width: 400px;
    height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .carrusel-menu {
    display: block;
  }
  .carrusel-menu img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 45px;
    height: 35px;
    border: 8px #212121;
  }
  .carrusel-menu {
    padding-top: 16px !important;
  }
  .carrusel-menu img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  p {
    text-align: center;
  }
  .article-home {
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }
  footer {
    height: 500px;
    margin-top: 163px;
    background-image: url(/img/foot-index2.jpg);
  }
  .fecha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 55px;
    font-size: 20px;
    color: white;
  }
  .fotos-comida-izquierda img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 205px;
    height: 150px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .fotos-comida-derecha img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 205px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .parrafo1, .parrafo2, .parrafo3, .parrafo4 {
    color: bisque;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .info-izquierda img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
    height: 205px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .info-derecha img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 150px;
    height: 205px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .texto-izquierdo, .texto-derecho {
    color: bisque;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1328px) {
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  .carrusel {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: carrusel;
  }
  .article-home {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: article-home;
  }
  .fotos-comida-izquierda {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: fotos-comida-izquierda;
  }
  .fotos-comida-derecha {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: fotos-comida-derecha;
  }
  .videos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: videos;
  }
  .info-izquierda {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: info-izquierda;
  }
  .texto-izquierdo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: texto-izquierdo;
  }
  .info-derecha {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: info-derecha;
  }
  .texto-derecho {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: texto-derecho;
  }
  .title-shop {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: title-shop;
  }
  .enlaces {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: enlaces;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "carrusel" "article-home" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "fotos-comida-izquierda" "fotos-comida-derecha" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "videos" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "info-izquierda" "texto-izquierdo" "info-derecha" "texto-derecho" "footer";
  }
  .grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "title-shop" "enlaces" "footer";
  }
  .carrusel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carrusel ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 1030px;
    scroll-behavior: smooth;
  }
  .carrusel-fotos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    overflow: auto;
  }
  .carrusel-fotos img {
    background: #212121;
    border: 4px #212121;
    width: 400px;
    height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .carrusel-menu {
    display: block;
  }
  .carrusel-menu img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 45px;
    height: 35px;
    border: 8px #212121;
  }
  .carrusel-menu {
    padding-top: 16px !important;
  }
  .carrusel-menu img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  p {
    text-align: center;
  }
  .article-home {
    font-size: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }
  footer {
    display: -ms-grid;
    display: grid;
    height: 500px;
    background-image: url(/img/foot-index2.jpg);
  }
  .fecha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px;
    font-size: 20px;
    color: white;
  }
  .fotos-comida-izquierda img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 215px;
    height: 160px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .fotos-comida-derecha img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 215px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .parrafo1, .parrafo2, .parrafo3, .parrafo4 {
    color: bisque;
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .info-izquierda img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 170px;
    height: 225px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .info-derecha img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 170px;
    height: 225px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .texto-izquierdo, .texto-derecho {
    color: bisque;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .fotos-comida-izquierda img:hover {
    width: 190px;
    height: 140px;
  }
  .fotos-comida-derecha img:hover {
    width: 190px;
    height: 140px;
  }
  h3 {
    font-size: 26px;
  }
  .bi.bi-cart3 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  section div a {
    font-size: 20px;
  }
  p.text-shop {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */